<div class="container-fluid">
    <div class="row  " style="height:100vh">
        <!-- Left Block -->
        <div class="col-6  d-flex  justify-content-center align-items-center">

            <img src="assets/sayu11.jpeg" style="display: block;
            margin-left: auto;
            margin-right: auto;
            height:60%;width:50%;">
            <div class="h2" style="font-family:cursive;justify-content: center;align-items: center;">
                Sayali Barge
                <br>Software Engineer
            </div>

        </div>



        <!-- Right Block-->
        <div class="col-6  d-flex  justify-content-center align-items-center">

            <img src="assets/sayu33.jpeg" style="display: block;
            margin-left: auto;
            margin-right: auto;
            height:60%;width:50%;">
            <div class="h2" style="font-family:cursive;justify-content: center;align-items: center;">
                Sayali Mankar<br>
                Software Engineer
            </div>
        </div>
    </div>
</div>